name: Deploy to Firebase on main branch push

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install -g firebase-tools
      - run: cd firebase && firebase deploy --token ${{ secrets.FIREBASE_TOKEN }}
